<div class="my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-0 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">Write to express, Welcome to E-Journal</h1>
      <p class="lead fst-italic">“I don’t journal to ‘be productive.’ I don’t do it to find great ideas or to put down
        prose I can
        later publish. The pages aren’t intended for anyone but me. It’s the most cost-effective therapy I’ve ever
        found.” – Tim Ferriss.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"><i class="bi bi-pencil"></i>Pen
          it</button>
        <a class="btn btn-secondary btn-lg px-4 me-md-2 fw-bold" href="/journals">View All</a>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
      <img class="rounded-lg-3" src="../assets/Img/Writing_in_a_journal.jpg" alt="" width="720">
    </div>
  </div>
</div>
